/*
 *= require bootstrap-icons/font/bootstrap-icons
 *= require base/fonts
 *= require general
 *= require nav
 */
@import url("general.css");
@import url("nav.css");
@import url("footer.css");
@import url("home.css");