.signup-container {
    background-image: url("/signup-bg.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.greeting p {
    font-family: "Playpen Sans", system-ui, sans-serif;
    font-size: 1.2rem;
    color: #185363;
}

.greeting :first-child {
    font-weight: 300;
}

.greeting :last-child {
    font-weight: 800;
}

.form-wrapper {
    max-height: 80vh;
    overflow-y: scroll;
    width: 75%;
    max-width: 450px;
    background-color: #f9f9f9b5;
    transition: background-color 0.5s ease-in-out;
    border-radius: 10px
}

.form-wrapper:hover {
    background-color: #f9f9f9f3;
}
.form-wrapper h1 {
    color: var(--primary-button-bg);
}

.role-option {
    border: 1px solid #E8E8E8;
    width: fit-content;
    min-width: 120px;
    cursor: pointer;
    background-color: white;
    opacity: 50%;
}

.role-option p, .avatar-container p {
    color: #2F5692;
    font-weight: 800;
}

.role-option img {
    width: 60px;
    height: 60px;
}

.role-option:hover {
    background-color: rgb(241, 245, 255);
}

.role-option.selected {
    border: 2px solid #2F5692;
    box-shadow: 1px 2px 10px #1659bd7a;
    opacity: 100%;
}

.role-option.view {
    opacity: 100%;
}

.asterisk {
    color: red;
}

.signup-form .form-group {
    width: 50%;
    min-width: 250px;
}

.forgot-pw.link {
    color: var(--info-text);
    font-style: italic;
    font-weight: 400;
    opacity: 0.7;
}
.forgot-pw.link:hover {
    text-decoration: none;
    opacity: 1;
}

.pw.form-group .form-control.is-invalid + span {
    margin-right: 30px !important;
}

.forgot-pw-main-info {
    background-color: rgb(245, 255, 255);
}