.badge.custom-primary-btn {
  border-radius: 5px !important;
  box-shadow: none
}

.badge.custom-primary-btn:hover {
  background-color: var(--primary-bg);
}

.bank.card-header {
  background-color: rgb(227, 241, 235);
}

.bank.card-body {
  background-color: rgb(248, 255, 253);
}

.bank.card.default {
  border-color: rgb(71, 140, 141) !important;
  border-width: 1.5px !important;
}

.bank-account-card-logo-sm {
  max-height: 22px;
  max-width: 65px;
  object-fit: contain;
}

.notice-box-sm {
  font-size: 0.775rem;
}

.webhook-info-box {
  font-size: 0.75rem;
}

.env-notice-text {
  font-size: 0.725rem;
}
