.custom.card {
    width: fit-content;
    max-width: 50%;
    background-color: white;
}

.custom.card .card-title {
    color: var(--primary-button-bg)
}

.card-tilte {
    font-size: 1.2rem;
    color: var(--primary-button-bg)
}

.otp-valid {
    color: #973E3E;
}

.timer {
    color: var(--alert-text)
}

.otp-box {
  width: 48px !important;
  height: 48px !important;
  text-align: center;
  border-radius: 10px;
  border: 1px solid var(--boder);
  font-size: 1.4rem;
  font-weight: 600;
}
