/* Color variables (CSS custom properties) */
:root {
  --bar-bg: #D7E6EA;
  --normal-text: #142C3D;
  --primary-bg: #297072;
  --alert-text: #CF0000;
  --lang-bg: #D7E2E7;
  --border: #A6BBC6;
  --body-bg-color: #F9F9F9;
  --primary-button-bg: #0087CA;
  --primary-button-hover-bg: #126b95;
  --placeholder: #adb3b8;
  --info-text: #7e7e7e;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("NunitoSans-VariableFont.ttf") format("truetype");
  font-weight: 200 1000;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("NunitoSans-Italic-VariableFont.ttf") format("truetype");
  font-weight: 200 1000;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Playpen Sans";
  src: url("PlaypenSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 200 1000;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 15px; 
}


body {
  font-family: "Nunito Sans", system-ui, sans-serif;
  color: var(--normal-text);
  background-color: var(--body-bg-color);
  min-width: 700px;
  font-size: 1rem;
  min-height: 100vh;
}

main {
  overflow-x: auto;
  flex: 1;
}

h1, h2 {
  font-family: "Playpen Sans", system-ui, sans-serif;
  margin-bottom: 2rem;
  font-weight: 600;
  color: var(--primary-bg);
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

em {
  font-style: italic;
}

button, a {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--normal-text)
}

.link {
  color: var(--primary-button-bg);
  font-weight: 600;
}
.link:hover {
  text-decoration: underline;
}

p {
  margin-bottom: 0;
}

input {
  border: 1px solid var(--border) !important;
}

::placeholder {
  font-style: italic !important;
  font-size: 0.8rem;
  color: var(--placeholder)!important;
}

.field-info, .counter-text {
  font-size: 0.9rem;
  color: var(--info-text);
  font-weight: 400;
}

.field-info span {
  font-size: 0.9rem;
}

.form-label {
  font-weight: 600;
}

.date.form-control {
  width: fit-content
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'opsz' 24,
    'GRAD' 0;
}

.material-symbols-filled {
  font-family: 'Material Symbols Outlined';
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'opsz' 24,
    'GRAD' 0;
}

.eye {
    cursor: pointer;
    color: var(--info-text)
}

.flash-container {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1055; /* above navbar */
  width: min(90%, 480px);
}

.is-invalid {
  border: 1px solid var(--alert-text) !important;
}
