/* Color variables (CSS custom properties) */
:root {
  --bar-bg: #D7E6EA;
  --normal-text: #142C3D;
  --primary-bg: #297072;
  --alert-text: #CF0000;
  --lang-bg: #D7E2E7;
  --border: #A6BBC6;
  --body-bg-color: #F9F9F9;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("NunitoSans-VariableFont.ttf") format("truetype");
  font-weight: 200 1000;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("NunitoSans-Italic-VariableFont.ttf") format("truetype");
  font-weight: 200 1000;
  font-style: italic;
  font-display: swap;
}

html {
  font-size: 16px; 
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Nunito Sans", system-ui, sans-serif;
  color: var(--normal-text);
  background-color: var(--body-bg-color);
  min-width: 700px;
  font-size: 1rem;
}

main {
  overflow-x: auto;
  flex: 1;
}

h1 {
  font-weight: 800;
}

em {
  font-style: italic;
}

button, a {
  cursor: pointer;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 0;
}

