.navbar {
    background-color: var(--bar-bg);
    height: fit-content !important;
    border-bottom: 1px solid #ADC3C9;
}

.navbar .dropdown  {
    color: var(--normal-text) !important;
}

.navbar .dropdown-toggle::after {
  color: var(--normal-text);
  margin-left: 6px;
}

.navbar .dropdown a {
    font-size: 0.9rem
}

.profile-dropdown .fullname {
    font-size: 1rem;
    color: #1F6274;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.profile-dropdown .role {
    font-size: 0.9rem;
    font-weight: 600;
}

.profile-dropdown button, .notification-dropdown button {
    border: none;
    background-color: transparent;
}

.notification-dropdown span {
    font-size: 2rem !important;
    color: var(--normal-text)
}

.notification-dropdown .dropdown-toggle::after {
    margin-left: 2px;
}

.notification-dropdown .dropdown-toggle {
  display: inline-flex;       /* align children horizontally */
  align-items: center;        /* vertical center */
  justify-content: center;
}

.navbar .material-symbols-filled {
    font-size: 1.2rem;
}

.navbar-brand img{
    height: 50px;
}

.navbar-nav {
    height: 100%;
}

.nav-link {
    color: var(--normal-text) !important;
    font-weight: 600;
}

.nav-item.custom:hover {
    background-color: #142c3d3e;
}

.nav-item.custom.active {
    background-color: var(--primary-bg);
}

.nav-item.custom.active .nav-link {
    color: white !important;
}

.signup-btn {
    color: var(--primary-bg);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    border: none;
    background-color: transparent;
}

.signup-btn:hover {
    color: #17424E;
}

.login-btn {
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid #557588;
    background-color: whitesmoke;
    font-weight:  bold;
    color: var(--normal-text);
    transition: transform 0.3s ease-in-out;
}

.login-btn:hover {
    transform: scale(1.03);
    background-color: aliceblue;
}

.lang-btn {
    font-weight: bold;
    font-size: 0.8rem;
    padding: 5px 10px;
    border-radius: 25px;
    border: 1px solid #A6BBC6;
    background-color: transparent;
    color: #44656F;
    background-color: #D7E2E7;
}

.lang-switcher {
    width: 80px;
}

.lang-switcher .dropdown-menu {
    min-width: min-content;
}

.lang-switcher .dropdown-item {
    font-size: 0.8rem;
}

.nav-avatar {
    width: 40px;
}

.notification-badge {
  position: absolute;
  top: 10px;           /* adjust vertical */
  right: 5px;         /* adjust horizontal */
  transform: translate(50%, -50%); /* center on corner */
  background-color: #CF0000;
  color: white;
  font-size: 0.65rem;
  font-weight: bold;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none; /* allow clicking the button under it */
}

.navbar .icon-img {
    width: 20px;
}

.secondary-nav {
    background-color: var(--primary-bg);
    color: white;
    font-weight: 600;
    overflow-x: auto;
}

.secondary-nav .card {
    color: white;
    font-size: 0.9rem;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3)
}

.secondary-nav .card .card-text {
    font-weight: 400;
    font-size: 0.75rem;
}

.more-btn {
    background-color: rgba(177, 235, 220, 0.3);
    border: 1px solid #365B4B;
    color: #365B4B;
    border-radius: 50%;
    transition: all ease 0.1s;
}

.more-btn:hover {
    background-color: rgba(93, 184, 159, 0.3);
}

.house-card {
    width: 200px;
    height: 80px; 
}

.other-card {
    width: 100px;
    height: 80px;
}

.other-card .card-title {
    font-size: 0.9rem
}

.other-card img {
    width: 40px;
}

.secondary-nav .card.active {
    background-color: rgba(124, 72, 72, 0.2);
    border: 1px solid #365B4B;  
}

