nav {
    background-color: var(--bar-bg);
    height: fit-content !important;
}

.navbar-brand img{
    height: 50px;
}

.navbar-nav {
    height: 100%;
}

.nav-item.active {
    background-color: var(--primary-bg);
    height: 100%;
}

.nav-item.active .nav-link {
    color: white !important;
}

.signup-btn {
    color: var(--primary-bg);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    border: none;
    background-color: transparent;
}

.signup-btn:hover {
    color: #17424E;
}

.login-btn {
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid #557588;
    background-color: whitesmoke;
    font-weight:  bold;
    color: var(--normal-text);
    transition: transform 0.3s ease-in-out;
}

.login-btn:hover {
    transform: scale(1.03);
    background-color: aliceblue;
}

.lang-btn {
    font-weight: bold;
    font-size: 0.8rem;
    padding: 5px 10px;
    border-radius: 25px;
    border: 1px solid #A6BBC6;
    background-color: transparent;
    color: #44656F;
    background-color: #D7E2E7;
}