.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
}

.pagination a, .pagination span {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.pagination .current {
  background: var(--primary-bg);
  color: white;
}

.pagination .gap {
  border: none;
}