.avatar-container {
  border: 1px solid #2F5692;
  width: 150px;
  height: fit-content
}

.avatar-container img {
  width: 100%
}

.avatar-btn {
  background-color: rgba(188, 187, 187, 0.5);
  width: 100%;
  padding: 1px 5px;
  font-size: 0.75rem
}

.avatar-btn span {
  font-size: 1.2rem;
}

.avatar-btn:hover {
  background-color: rgba(188, 187, 187, 0.75);
}