.vehicle-icon {
  font-size: 5rem;
}

.vehicle.stat-card .stat-icon-wrap {
  width: 50px;
  height: 50px;
}

.vehicle.stat-card {
  width: fit-content;
  margin: 0 auto;
}

.vehicle-img {
  width: 45px;
  height: 35px;
}

.modal-vehicle-img {
  max-height: 450px;
  object-fit: contain;
}